# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/

# Database
*.sqlite3
*.db

# Environments
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
